# **Pandas DataFrames**
In this tutorial, you will load a CSV file from Google Drive into a Pandas DataFrame, and use Pandas to clean and manipulate the DataFrame. Read more about the Pandas here: https://pandas.pydata.org/docs/index.html

# **Step 1:** Import data from a CSV file in Google Drive

In [ ]:
# Mount Google Drive to CoLab 
from google.colab import drive 
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [ ]:
# Import dependencies
import pandas as pd 

# Convert the CSV file to a Pandas dataframe
# Replace folder name and file name
df=pd.read_csv('gdrive/My Drive/Google CoLab Files/ELKSMWQ_Demo.csv')

# View the first 5 lines of the Pandas Dataframe
df.head()

,********LEGEND FOR FIELD NAMES LOCATED AT BOTTOM OF FILE************,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27
0,Station_Code,isSWMP,m/d/y hh:mm,See Legend,See Legend,See Legend,C,Flag Code See Legend,mS/cm,Flag Code See Legend,...,m,Flag Code See Legend,m,Flag Code See Legend,m,Flag Code See Legend,Units,Flag Code See Legend,FNU/NTU,Flag Code See Legend
1,Station_Code,isSWMP,DateTimeStamp,Historical,ProvisionalPlus,F_Record,Temp,F_Temp,SpCond,F_SpCond,...,cDepth,F_cDepth,Level,F_Level,cLevel,F_cLevel,pH,F_pH,Turb,F_Turb
2,elksmwq,P,1/1/2022 0:00,0,1,NaN,12.2,<0>,42.02,<0>,...,NaN,NaN,1.13,<0>,1.08,<3>,7.9,<0>,7,<0>
3,elksmwq,P,1/1/2022 0:15,0,1,NaN,12.1,<0>,41.97,<0>,...,NaN,NaN,1.09,<0>,1.04,<3>,7.9,<0>,7,<0>
4,elksmwq,P,1/1/2022 0:30,0,1,NaN,11.9,<0>,41.22,<0>,...,NaN,NaN,1.06,<0>,1.01,<3>,7.9,<0>,6,<0>

# **Step 2:** Update column headers

In [ ]:
# Print a list of the current column headers
df.columns

Index(['********LEGEND FOR FIELD NAMES LOCATED AT BOTTOM OF FILE************',
       'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5',
       'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10',
       'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13', 'Unnamed: 14',
       'Unnamed: 15', 'Unnamed: 16', 'Unnamed: 17', 'Unnamed: 18',
       'Unnamed: 19', 'Unnamed: 20', 'Unnamed: 21', 'Unnamed: 22',
       'Unnamed: 23', 'Unnamed: 24', 'Unnamed: 25', 'Unnamed: 26',
       'Unnamed: 27'],
      dtype='object')

Pandas automatically assigns the first row of data from a CSV file as the header of a dataframe. For this data, the second row of data (row 1) looks like a good option for the header. Note that the first row in a dataframe is row 0, the second row is row 1, the third row is row 2, and so on.

In [ ]:
# Delete first row (row 0) of information that we do not need
df.drop(index=df.index[0], axis=0, inplace=True)

# View the first 5 rows of the dataframe to confirm this change
df.head()

,********LEGEND FOR FIELD NAMES LOCATED AT BOTTOM OF FILE************,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27
1,Station_Code,isSWMP,DateTimeStamp,Historical,ProvisionalPlus,F_Record,Temp,F_Temp,SpCond,F_SpCond,...,cDepth,F_cDepth,Level,F_Level,cLevel,F_cLevel,pH,F_pH,Turb,F_Turb
2,elksmwq,P,1/1/2022 0:00,0,1,NaN,12.2,<0>,42.02,<0>,...,NaN,NaN,1.13,<0>,1.08,<3>,7.9,<0>,7,<0>
3,elksmwq,P,1/1/2022 0:15,0,1,NaN,12.1,<0>,41.97,<0>,...,NaN,NaN,1.09,<0>,1.04,<3>,7.9,<0>,7,<0>
4,elksmwq,P,1/1/2022 0:30,0,1,NaN,11.9,<0>,41.22,<0>,...,NaN,NaN,1.06,<0>,1.01,<3>,7.9,<0>,6,<0>
5,elksmwq,P,1/1/2022 0:45,0,1,NaN,11.6,<-5>,40.47,<0>,...,NaN,NaN,1.03,<0>,0.98,<3>,7.9,<0>,6,<0>

In [ ]:
# Replace the current header with text from the first row
df.rename(columns=df.iloc[0], inplace = True)

# View the first 5 rows of the dataframe to confirm this change
df.head()

,Station_Code,isSWMP,DateTimeStamp,Historical,ProvisionalPlus,F_Record,Temp,F_Temp,SpCond,F_SpCond,...,cDepth,F_cDepth,Level,F_Level,cLevel,F_cLevel,pH,F_pH,Turb,F_Turb
1,Station_Code,isSWMP,DateTimeStamp,Historical,ProvisionalPlus,F_Record,Temp,F_Temp,SpCond,F_SpCond,...,cDepth,F_cDepth,Level,F_Level,cLevel,F_cLevel,pH,F_pH,Turb,F_Turb
2,elksmwq,P,1/1/2022 0:00,0,1,NaN,12.2,<0>,42.02,<0>,...,NaN,NaN,1.13,<0>,1.08,<3>,7.9,<0>,7,<0>
3,elksmwq,P,1/1/2022 0:15,0,1,NaN,12.1,<0>,41.97,<0>,...,NaN,NaN,1.09,<0>,1.04,<3>,7.9,<0>,7,<0>
4,elksmwq,P,1/1/2022 0:30,0,1,NaN,11.9,<0>,41.22,<0>,...,NaN,NaN,1.06,<0>,1.01,<3>,7.9,<0>,6,<0>
5,elksmwq,P,1/1/2022 0:45,0,1,NaN,11.6,<-5>,40.47,<0>,...,NaN,NaN,1.03,<0>,0.98,<3>,7.9,<0>,6,<0>

In [ ]:
# Drop the first row (we no longer need this text) 
df.drop(index=df.index[0], axis=0, inplace=True)

# View the first 5 rows of the dataframe to confirm this change
df.head()

,Station_Code,isSWMP,DateTimeStamp,Historical,ProvisionalPlus,F_Record,Temp,F_Temp,SpCond,F_SpCond,...,cDepth,F_cDepth,Level,F_Level,cLevel,F_cLevel,pH,F_pH,Turb,F_Turb
2,elksmwq,P,1/1/2022 0:00,0,1,NaN,12.2,<0>,42.02,<0>,...,NaN,NaN,1.13,<0>,1.08,<3>,7.9,<0>,7,<0>
3,elksmwq,P,1/1/2022 0:15,0,1,NaN,12.1,<0>,41.97,<0>,...,NaN,NaN,1.09,<0>,1.04,<3>,7.9,<0>,7,<0>
4,elksmwq,P,1/1/2022 0:30,0,1,NaN,11.9,<0>,41.22,<0>,...,NaN,NaN,1.06,<0>,1.01,<3>,7.9,<0>,6,<0>
5,elksmwq,P,1/1/2022 0:45,0,1,NaN,11.6,<-5>,40.47,<0>,...,NaN,NaN,1.03,<0>,0.98,<3>,7.9,<0>,6,<0>
6,elksmwq,P,1/1/2022 1:00,0,1,NaN,11.5,<0>,40.09,<0>,...,NaN,NaN,1.01,<0>,0.96,<3>,7.9,<0>,6,<0>

In [ ]:
# Confirm that the column names were updated 
df.columns

Index(['Station_Code', 'isSWMP', 'DateTimeStamp', 'Historical',
       'ProvisionalPlus', 'F_Record', 'Temp', 'F_Temp', 'SpCond', 'F_SpCond',
       'Sal', 'F_Sal', 'DO_pct', 'F_DO_pct', 'DO_mgl', 'F_DO_mgl', 'Depth',
       'F_Depth', 'cDepth', 'F_cDepth', 'Level', 'F_Level', 'cLevel',
       'F_cLevel', 'pH', 'F_pH', 'Turb', 'F_Turb'],
      dtype='object')

In [ ]:
# Clean up column names
# Tip: You can copy and paste the list of column names printed above
# In this example, units were added to some column headers (i.e., Temp (C).)
df.columns = ['Station_Code', 'isSWMP', 'DateTimeStamp', 'Historical',
       'ProvisionalPlus', 'F_Record', 'Temp (C)', 'F_Temp', 'SpCond (mS/cm)', 'F_SpCond',
       'Sal (psu)', 'F_Sal', 'DO_pct', 'F_DO_pct', 'DO_mgl', 'F_DO_mgl', 'Depth (m)',
       'F_Depth', 'cDepth (m)', 'F_cDepth', 'Level (m)', 'F_Level', 'cLevel',
       'F_cLevel', 'pH', 'F_pH', 'Turb (FNU/NTU)', 'F_Turb']

# View the first 5 rows of the dataframe
df.head()

,Station_Code,isSWMP,DateTimeStamp,Historical,ProvisionalPlus,F_Record,Temp (C),F_Temp,SpCond (mS/cm),F_SpCond,...,cDepth (m),F_cDepth,Level (m),F_Level,cLevel,F_cLevel,pH,F_pH,Turb (FNU/NTU),F_Turb
2,elksmwq,P,1/1/2022 0:00,0,1,NaN,12.2,<0>,42.02,<0>,...,NaN,NaN,1.13,<0>,1.08,<3>,7.9,<0>,7,<0>
3,elksmwq,P,1/1/2022 0:15,0,1,NaN,12.1,<0>,41.97,<0>,...,NaN,NaN,1.09,<0>,1.04,<3>,7.9,<0>,7,<0>
4,elksmwq,P,1/1/2022 0:30,0,1,NaN,11.9,<0>,41.22,<0>,...,NaN,NaN,1.06,<0>,1.01,<3>,7.9,<0>,6,<0>
5,elksmwq,P,1/1/2022 0:45,0,1,NaN,11.6,<-5>,40.47,<0>,...,NaN,NaN,1.03,<0>,0.98,<3>,7.9,<0>,6,<0>
6,elksmwq,P,1/1/2022 1:00,0,1,NaN,11.5,<0>,40.09,<0>,...,NaN,NaN,1.01,<0>,0.96,<3>,7.9,<0>,6,<0>

# **Step 3:** Drop unwanted columns

In [ ]:
# Make a copy of the dataframe before dropping columns, to preserve the original version

df2 = df.copy()

# View the first 5 rows of the new dataframe
df2.head()

,Station_Code,isSWMP,DateTimeStamp,Historical,ProvisionalPlus,F_Record,Temp (C),F_Temp,SpCond (mS/cm),F_SpCond,...,cDepth (m),F_cDepth,Level (m),F_Level,cLevel,F_cLevel,pH,F_pH,Turb (FNU/NTU),F_Turb
2,elksmwq,P,1/1/2022 0:00,0,1,NaN,12.2,<0>,42.02,<0>,...,NaN,NaN,1.13,<0>,1.08,<3>,7.9,<0>,7,<0>
3,elksmwq,P,1/1/2022 0:15,0,1,NaN,12.1,<0>,41.97,<0>,...,NaN,NaN,1.09,<0>,1.04,<3>,7.9,<0>,7,<0>
4,elksmwq,P,1/1/2022 0:30,0,1,NaN,11.9,<0>,41.22,<0>,...,NaN,NaN,1.06,<0>,1.01,<3>,7.9,<0>,6,<0>
5,elksmwq,P,1/1/2022 0:45,0,1,NaN,11.6,<-5>,40.47,<0>,...,NaN,NaN,1.03,<0>,0.98,<3>,7.9,<0>,6,<0>
6,elksmwq,P,1/1/2022 1:00,0,1,NaN,11.5,<0>,40.09,<0>,...,NaN,NaN,1.01,<0>,0.96,<3>,7.9,<0>,6,<0>

In [ ]:
# Drop unwanted columns
# In this example, the Station_Code, Hisotrical, ProvisionalPlus, cDepth (m), and F_cDepth columns are dropped
df2 = df2.drop(['Station_Code', 'Historical',
       'ProvisionalPlus', 'cDepth (m)', 'F_cDepth'], axis=1)

# View the first 5 rows of the dataframe
df2.head()

,isSWMP,DateTimeStamp,F_Record,Temp (C),F_Temp,SpCond (mS/cm),F_SpCond,Sal (psu),F_Sal,DO_pct,...,Depth (m),F_Depth,Level (m),F_Level,cLevel,F_cLevel,pH,F_pH,Turb (FNU/NTU),F_Turb
2,P,1/1/2022 0:00,NaN,12.2,<0>,42.02,<0>,26.9,<0>,84.5,...,NaN,<-1>,1.13,<0>,1.08,<3>,7.9,<0>,7,<0>
3,P,1/1/2022 0:15,NaN,12.1,<0>,41.97,<0>,26.9,<0>,83.6,...,NaN,<-1>,1.09,<0>,1.04,<3>,7.9,<0>,7,<0>
4,P,1/1/2022 0:30,NaN,11.9,<0>,41.22,<0>,26.4,<0>,81.8,...,NaN,<-1>,1.06,<0>,1.01,<3>,7.9,<0>,6,<0>
5,P,1/1/2022 0:45,NaN,11.6,<-5>,40.47,<0>,25.8,<0>,83.5,...,NaN,<-1>,1.03,<0>,0.98,<3>,7.9,<0>,6,<0>
6,P,1/1/2022 1:00,NaN,11.5,<0>,40.09,<0>,25.6,<0>,82.8,...,NaN,<-1>,1.01,<0>,0.96,<3>,7.9,<0>,6,<0>

# **Step 4:** Create a new DataFrame

In [ ]:
# You can also create a new DataFrame from an exisiting DataFrame, that contains select data 

# Create a new dataframe (df3) with DateTimeStamp, temperature, pH, dissolved oxygen and depth data from the original dataframe (df)
# Keep quality codes so we can filter out bad data

df3 = df[['DateTimeStamp', 'Temp (C)', 'F_Temp', 'DO_mgl', 'F_DO_mgl', 'Level (m)', 'F_Level', 'pH', 'F_pH']]
df3.head()

   DateTimeStamp Temp (C) F_Temp DO_mgl F_DO_mgl Level (m) F_Level   pH F_pH
2  1/1/2022 0:00     12.2    <0>    7.7      <0>      1.13     <0>  7.9  <0>
3  1/1/2022 0:15     12.1    <0>    7.6      <0>      1.09     <0>  7.9  <0>
4  1/1/2022 0:30     11.9    <0>    7.5      <0>      1.06     <0>  7.9  <0>
5  1/1/2022 0:45     11.6   <-5>    7.7      <0>      1.03     <0>  7.9  <0>
6  1/1/2022 1:00     11.5    <0>    7.7      <0>      1.01     <0>  7.9  <0>

# **Step 5:** Remove null data and filter by quality codes

In [ ]:
# Sort data in the F_Temps column
df3.sort_values(by=['F_Temp'])

# With the data sorted, we see that this columns contains both NaN values and quality codes (i.e., <-5>) that indicate unreliable data

,DateTimeStamp,Temp (C),F_Temp,DO_mgl,F_DO_mgl,Level (m),F_Level,pH,F_pH
1097,1/12/2022 9:45,11.6,<-3> [GOW],10.8,<-3> [GOW],-0.85,<-3> [GOW],7.9,<-3> [GOW]
920,1/10/2022 13:30,12.8,<-3> [GOW],10.5,<-3> [GOW],-0.83,<-3> [GOW],8,<-3> [GOW]
22,1/1/2022 5:00,11.6,<-5>,7.7,<0>,1.41,<0>,7.9,<0>
5,1/1/2022 0:45,11.6,<-5>,7.7,<0>,1.03,<0>,7.9,<0>
8,1/1/2022 1:30,11.4,<-5>,7.7,<0>,0.97,<0>,7.9,<0>
...,...,...,...,...,...,...,...,...,...
8038,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8039,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8040,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8041,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8042,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
# Delete rows with NAN values
# If any NaN values are present, the entire row will be dropped
df3.dropna()

# Notice that the number of rows decreases from 8041 to 7986 when NaN values are removed

,DateTimeStamp,Temp (C),F_Temp,DO_mgl,F_DO_mgl,Level (m),F_Level,pH,F_pH
2,1/1/2022 0:00,12.2,<0>,7.7,<0>,1.13,<0>,7.9,<0>
3,1/1/2022 0:15,12.1,<0>,7.6,<0>,1.09,<0>,7.9,<0>
4,1/1/2022 0:30,11.9,<0>,7.5,<0>,1.06,<0>,7.9,<0>
5,1/1/2022 0:45,11.6,<-5>,7.7,<0>,1.03,<0>,7.9,<0>
6,1/1/2022 1:00,11.5,<0>,7.7,<0>,1.01,<0>,7.9,<0>
...,...,...,...,...,...,...,...,...,...
7987,3/25/2022 8:15,15.6,<0>,6.3,<0>,0.82,<0>,8.1,<0>
7988,3/25/2022 8:30,15.8,<0>,6.3,<0>,0.73,<0>,8.1,<0>
7989,3/25/2022 8:45,15.8,<0>,6.3,<0>,0.62,<0>,8.1,<0>
7990,3/25/2022 9:00,15.9,<0>,6.4,<0>,0.51,<0>,8.1,<0>
7991,3/25/2022 9:15,16,<0>,6.4,<0>,0.38,<0>,8.1,<0>

In [ ]:
# Create a new dataframe (df4) that only has <0> flag values 
  # <0> indicates that the data passed initial QAQC checks

df4 = df3.loc[(df3['F_Temp'] == '<0>') & (df3['F_DO_mgl'] == '<0>') & (df3['F_Level'] == '<0>') & (df3['F_pH'] == '<0>')]
df4.head()

   DateTimeStamp Temp (C) F_Temp DO_mgl F_DO_mgl Level (m) F_Level   pH F_pH
2  1/1/2022 0:00     12.2    <0>    7.7      <0>      1.13     <0>  7.9  <0>
3  1/1/2022 0:15     12.1    <0>    7.6      <0>      1.09     <0>  7.9  <0>
4  1/1/2022 0:30     11.9    <0>    7.5      <0>      1.06     <0>  7.9  <0>
6  1/1/2022 1:00     11.5    <0>    7.7      <0>      1.01     <0>  7.9  <0>
7  1/1/2022 1:15     11.5    <0>    7.8      <0>      0.98     <0>  7.9  <0>

In [ ]:
# Check the size of the new dataframe
df4.shape

# The number of rows decreased from 7986 to 7973, we removed 13 rows of "bad" data

(7973, 9)

In [ ]:
# Now that data with "bad" quality codes has been removed, we can drop the flag data columns 

df5 = df4.drop(['F_Temp','F_DO_mgl', 'F_Level', 'F_pH'], axis=1)
df5.head()

   DateTimeStamp Temp (C) DO_mgl Level (m)   pH
2  1/1/2022 0:00     12.2    7.7      1.13  7.9
3  1/1/2022 0:15     12.1    7.6      1.09  7.9
4  1/1/2022 0:30     11.9    7.5      1.06  7.9
6  1/1/2022 1:00     11.5    7.7      1.01  7.9
7  1/1/2022 1:15     11.5    7.8      0.98  7.9

# **Step 6:** Export cleaned DataFrame to Google Drive as a CSV file

In [ ]:
# Export this new, cleaned dataframe (df5) as a CSV, to the Google Drive

df5.to_csv('gdrive/My Drive/Google CoLab Files/clean_data.csv')